body {
    background: var(--bg);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center center;
	background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: darkred;
    --black: rgb(53, 52, 52);
    --bg: #272727;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

html {
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: 0.8rem;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

header {
    position: fixed;
    justify-content: space-between;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    padding: 10px;
    background: var(--bg);
    border-bottom: var(--border);
    z-index: 1000;
}

header nav ul li {
    position: relative;
    float: left;
}
header nav ul li a {
    padding: 15px;
    color: white;
    font-weight: 200;
    font-size: 1.3rem;
    margin-left: 45px;
    transition: color 0.3s linear;
    border-bottom: 0.1rem solid var(--main-color);
}
header nav ul li a:hover {
    color: goldenrod;
}
nav ul li ul {
    position: absolute;
    left: 40px;
    width: 180px;
    color: white;
    background-color: darkred;
    display: none;
}
nav ul li ul li {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
}
nav ul li ul li:hover {
    background-color: rgb(49, 3, 3);
    color: darkred;
}
nav ul li:hover > ul { display: block; }

.menu-btn {
    display: none;
}



.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin-top: 40px;
    background: url(https://img.freepik.com/free-vector/modern-black-luxury-background-with-hexagon-pattern_87202-1055.jpg?w=826&t=st=1688228535~exp=1688229135~hmac=84aa134d791df910ea49456c9c14c85ab2f1a8f1c395cff026b2e17565f4db14);
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
.home .content_1 {
    max-width: 60rem;
    padding-left: 30px;
}
.home .content_1 h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: white;
}
.home .content_1 p {
    font-size: 1.3rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.home .btn {
    background-color: darkred;
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #eee;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    transition: color 0.3s linear;
    border-radius: 10px;
}
.home .btn:hover {
    color: goldenrod;
    background-color: rgb(71, 1, 1);
}
.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
.heading span {
    color: var(--main-color);
    text-shadow: -1px -1px 0 rgb(240, 183, 27), 1px -1px 0 rgb(240, 183, 27), -1px 1px 0 rgb(240, 183, 27), 1px 1px 0 rgb(240, 183, 27);
    text-transform: uppercase;
}
#section {
    display: grid;
    place-items: center;
    min-height: 100vh;
    width: 100vh;
}
.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
    margin-top: 10rem;
}
.heading span {
    color: var(--main-color);
    text-shadow: -1px -1px 0 rgb(240, 183, 27), 1px -1px 0 rgb(240, 183, 27), -1px 1px 0 rgb(240, 183, 27), 1px 1px 0 rgb(240, 183, 27);
    text-transform: uppercase;
}

.book-list {
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    margin-bottom: 3rem;
    background: var(--black);
}
.book {
    display: flex;
    margin-bottom: 3rem;
}
.book img{
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}
.book-list img {
    width: 300px;
    height: 420px;
}
.content {
    text-align: justify;
    margin-left: 2rem;
    margin-right: 2rem;
}
.content h3 {
    font-size: 2.5rem;
    color: #cfae81;
    font-weight: 300;
    margin-top: 2rem;
}
.content p {
    margin-top: 1.5rem;
    font-size: 1.6rem;
    color: #ccc;
    font-weight: 300;
    margin-top: 2rem;
}
.content .btn {
    background-color: #be9965;
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #eee;
    font-size: 1.6rem;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    margin-top: 2rem;
}

#docs {
    display: grid;
    place-items: center;
    margin-top: 0rem;
}
.all {
    margin-top: 3rem;
}




.contact .cont {
    display: block;
    align-items: center;
    background-color: var(--black);
}
.contact .cont .map {
    height: 450px;
    width: 100%;
}
.contact  form {
    width: 100%;
    margin-bottom: 4rem;
}
.contact  form h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.8rem;
    color: #be9965;
    font-weight: 500;
}
.contact form p {
    text-align: justify;
    color: #ccc;
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: 500;
    margin-right: 2rem;
    margin-left: 2rem;
}
.inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--black);
    border: var(--border);
}
.inputBox span {
    color: #fff;
    font-size: 0.8rem;
    padding-left: 0.8rem;
}
.inputBox input {
    width: 120%;
    padding: 0.8rem;
    font-size: 1rem;
    color: #fff;
    text-transform: none;
    background: none;
}

.contact .cont .btn {
    background-color: darkred;
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #eee;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    transition: color 0.3s linear;
    border-radius: 10px;
}
.contact .cont .btn:hover {
    color: goldenrod;
    background-color: rgb(71, 1, 1);
}

.footer {
    background: var(--bg);
    text-align: center;
}
.footer .share a{
    margin-right: 2rem;
}
.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    margin: 0.3rem;
}
.footer .links {
    margin-bottom: 1.5rem;
}
.footer .links a {
    margin-right: 0.5rem;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border: var(--border);
    padding: 0.5rem 1rem;
    transition: color 0.3s linear;
}
.footer .links a:hover {
    color: goldenrod;
    background-color: rgb(71, 1, 1);
}
.footer .credit {
    font-size: 1rem;
    color: #fff;
}
.footer .credit span {
    color: #cfae81;
}
@media (max-width:991px){
    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    html {
        font-size: 85%;
    }
    header {
        padding: 1.5rem 2rem;
    }
}
@media (max-width:1240px) {
    .menu-btn {
        display: inline-block;
    }
    .menu-btn ul li {
        font-size: 3rem;
    }
     header nav ul li {
        display: none;
    }
}
@media (max-width:1176px) {
    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .menu-btn {
        display: inline-block;
    }
    .menu-btn ul li {
        font-size: 3rem;
    }
    header nav ul li {
        display: none;
    }

}

@media (max-width:425px) {
    .home .content_1 {
        margin-top: 11rem;
        margin-left: 1rem;
    }
    .home .content_1 h3 {
        font-size: 4rem;
    }
    .book-list {
        display: block;
    }
    .book-list img {
        width: 100%;
        height: auto;
    }
    .footer .links {
        display: none;
    }
    .content .btn {
        margin-bottom: 2rem;
    }
    .content h3 {
        font-size: 1.9rem;
    }
    .content p {
        font-size: 1.3rem;
    }
    .content .btn {
        font-size: 1.3rem;
    }
    .home .content_1 {
        max-width: 40rem;
        padding-left: 10px;
        text-align: left;
        margin-right: 1rem;
    }
    .home .content_1 h3 {
        font-size: 5rem;
    }
    .home .content_1 p {
        font-size: 1.2rem;
    }
    .home .btn {
        margin-bottom: 2rem;
        font-size: 1.2rem;
    }
    .home .btn:hover {
        color: goldenrod;
        background-color: rgb(71, 1, 1);
    }
    .footer .links{
        display: none;
    }
}










