body {
    background: var(--bg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center center;
	background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: darkred;
    --black: rgb(53, 52, 52);
    --bg: #272727;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

html {
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: 0.8rem;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

header {
    position: fixed;
    justify-content: space-between;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    padding: 10px;
    background: var(--bg);
    border-bottom: var(--border);
    z-index: 1000;
}
header .navbar {
    margin-right: 3rem;
}
header .navbar ul li {
    position: relative;
    float: left;
}
header .navbar ul li a {
    padding: 15px;
    color: white;
    font-weight: 200;
    font-size: 1.3rem;
    margin-left: 60px;
    transition: color 0.3s linear;
    border-bottom: 0.1rem solid var(--main-color);
}
header .navbar ul li a:hover {
    color: goldenrod;
}
.navbar ul li ul {
    position: absolute;
    left: 40px;
    width: 180px;
    color: white;
    background-color: darkred;
    display: none;
}
.navbar ul li ul li {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
}
.navbar ul li ul li:hover {
    background-color: rgb(49, 3, 3);
    color: darkred;
}
.navbar ul li:hover > ul { display: block; }

.menu-btn {
    display: none;
}



.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin-top: 40px;
    background: url(https://img.freepik.com/free-vector/modern-black-luxury-background-with-hexagon-pattern_87202-1055.jpg?w=826&t=st=1688228535~exp=1688229135~hmac=84aa134d791df910ea49456c9c14c85ab2f1a8f1c395cff026b2e17565f4db14);
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
.home .content {
    max-width: 60rem;
    padding-left: 30px;
}
.home .content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: white;
}
.home .content p {
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.home .btn {
    background-color: darkred;
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #eee;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    transition: color 0.3s linear;
    border-radius: 10px;
}
.home .btn:hover {
    color: goldenrod;
    background-color: rgb(71, 1, 1);
}
.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
.heading span {
    color: var(--main-color);
    text-shadow: -1px -1px 0 rgb(240, 183, 27), 1px -1px 0 rgb(240, 183, 27), -1px 1px 0 rgb(240, 183, 27), 1px 1px 0 rgb(240, 183, 27);
    text-transform: uppercase;
}
.basic .row {
    display: flex;  
    align-items: center;
    flex-wrap: wrap;
    background: var(--black);
    margin-left: 4rem;
    margin-right: 4rem;
}
.basic .row .content {
    width: 50%;
    text-align: left;
    height: auto;
    color: #fff;
    top: 0;
    background: var(--black);
    margin-left: 4rem;
}

.basic .row .content h3 {
    font-size: 2.7rem;
    color: #cfae81;
    font-weight: 500;
}
.basic .row .content p {
    font-size: 1.2rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
    font-weight: 200;
}
.basic .row img {
    height: auto; 
    max-width: 350px;
}

.row .btn {
    background-color: #be9965;
    ;
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #eee;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}
.row .btn:hover {
    background-color: #916a34;
}



.heading {
    color: var(--main-color);
    text-shadow: -1px -1px 0 rgb(240, 183, 27), 1px -1px 0 rgb(240, 183, 27), -1px 1px 0 rgb(240, 183, 27), 1px 1px 0 rgb(240, 183, 27);
    text-transform: uppercase;
}
.handbook .hand {
    display: flex;  
    align-items: center;
    flex-wrap: wrap;
    background: var(--black);
    margin-left: 4rem;
    margin-right: 4rem;
}
.handbook .hand img {
    height: auto; 
    width: 350px;
}
.handbook .hand .content {
    width: 50%;
    text-align: left;
    height: auto;
    color: #fff;
    top: 0;
    background: var(--black);
    margin-left: 4rem;
}

.handbook .hand .content h3 {
    font-size: 2.7rem;
    color: #cfae81;
    font-weight: 500;
}
.handbook .hand .content p {
    font-size: 1.2rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
    font-weight: 200;
}
.hand .btn {
    background-color: #be9965;
    ;
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #eee;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}
.hand .btn:hover {
    background-color: #916a34;
}

.handbook .hand {
    display: flex;  
    align-items: center;
    flex-wrap: wrap;
    background: var(--black);
    margin-left: 4rem;
    margin-right: 4rem;
}
.handbook .hand .content {
    width: 50%;
    text-align: left;
    height: auto;
    color: #fff;
    top: 0;
    background: var(--black);
    margin-left: 4rem;
}

.handbook .hand .content h3 {
    font-size: 2.7rem;
    color: #cfae81;
    font-weight: 500;
}
.handbook .hand .content p {
    font-size: 1.2rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
    font-weight: 200;
}
.hand .btn {
    background-color: #be9965;
    ;
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #eee;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}
.hand .btn:hover {
    background-color: #916a34;
}


.archi .arc {
    display: flex;  
    align-items: center;
    flex-wrap: wrap;
    background: var(--black);
    margin-left: 4rem;
    margin-right: 4rem;
}
.archi .arc img {
    height: auto;
    width: 350px;
}
.archi .arc .content {
    width: 50%;
    text-align: left;
    height: auto;
    color: #fff;
    top: 0;
    background: var(--black);
    margin-left: 4rem;
}

.archi .arc .content h3 {
    font-size: 2.7rem;
    color: #cfae81;
    font-weight: 500;
}
.archi .arc .content p {
    font-size: 1.2rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
    font-weight: 200;
}
.arc .btn {
    background-color: #be9965;
    ;
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #eee;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}
.arc .btn:hover {
    background-color: #916a34;
}



.contact .cont {
    display: flex;
    align-items: center;
    background-color: var(--black);
    flex-wrap: wrap;
    gap: 20rem;
}
.contact .cont .map {
    flex: 1 1 45rem;
    height: 600px;
    width: 100%;
    object-fit: cover;
    margin-right: 50%;
}
.contact .cont form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
    position: absolute;
    margin-left: 50%;
}
.contact .cont form h3 {
    text-transform: uppercase;
    font-size: 2.8rem;
    color: #be9965;
    font-weight: 500;
}
.contact .cont form p {
    color: #ccc;
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: 500;
}
.inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--black);
    border: var(--border);
}
.inputBox span {
    color: #fff;
    font-size: 0.8rem;
    padding-left: 0.8rem;
}
.inputBox input {
    width: 120%;
    padding: 0.8rem;
    font-size: 1rem;
    color: #fff;
    text-transform: none;
    background: none;
}

.contact .cont .btn {
    background-color: darkred;
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #eee;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    transition: color 0.3s linear;
    border-radius: 10px;
}
.contact .cont .btn:hover {
    color: goldenrod;
    background-color: rgb(71, 1, 1);
}

.footer {
    background: var(--bg);
    text-align: center;
}
.footer .share a{
    margin-right: 2rem;
}
.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    margin: 0.3rem;
}
.footer .links {
    margin-bottom: 1.5rem;
}
.footer .links a {
    margin-right: 0.5rem;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border: var(--border);
    padding: 0.5rem 1rem;
    transition: color 0.3s linear;
}
.footer .links a:hover {
    color: goldenrod;
    background-color: rgb(71, 1, 1);
}
.footer .credit {
    font-size: 1rem;
    color: #fff;
}
.footer .credit span {
    color: #cfae81;
}
@media (max-width:991px){
    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    html {
        font-size: 85%;
    }
    header {
        padding: 1.5rem 2rem;
    }
}
@media (max-width:1176px) {
    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .menu-btn {
        display: inline-block;
    }
    .menu-btn ul li {
        font-size: 3rem;
    }
    header nav ul li {
        display: none;
    }

}

@media (max-width:768px) {
    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home .content h3 {
        font-size: 4.5rem;
    }
    .home .content p {
        font-size: 1.5rem;
    }
    .basic .row .image img{
        max-width: 350px;
    }
}

@media (max-width:425px) {
    .home {
        background-position: center;
        justify-content: center;
        text-align: center;
        width: min-content;
    }
    .home .content {
        margin-top: 10rem;
        margin-left: 3rem;
        margin-right: 5rem;
        margin-bottom: 2rem;

    }
    .home .content h3 {
        font-size: 4.5rem;
        
    }
    .home .content p {
        font-size: 1.5rem;
    }
    .heading {
        margin-left: 0rem;
    }
    .basic .row {
        margin-left: 2.5rem;
        width: fit-content;
        
    }
    .basic .row .content {
        margin: 1.5rem;
        text-align: justify;
        width: fit-content;
    }
    .basic .row .content p {
        font-size: 1.3rem;
    }
    .basic .row .content h3 {
        font-size: 2rem;
    }
    .basic .row .btn {
        font-size: 1.3rem;
    }
    .basic .row img {
        width: 30rem;
    }
    .contact .cont {
        background: var(--bg);
    }

    .contact .cont .map {
        height: 600px;
        width: 50%;
        object-fit: cover;
        margin-right: 50%;
    }
    .footer {
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    .footer .links {
        display: none;
    }

    .contact .cont form h3 {
        font-size: 2.2rem;
    }
    .contact .cont form p {
        font-size: 1.3rem;
    }
}
@media (max-width:375px) {
    .home .content {
        margin-left: 3rem;
    }
    .heading {
        margin-left: 3rem;
        font-size: 3.8rem;
    }
    .basic .row {
        margin-left: 2.8rem;
        width: 94%;     
    }
    .basic .row img {
        width: 500px;
    }
    .basic .row .content {
        margin: 1.5rem;
        text-align: justify;
        width: fit-content;
    }
    .basic .row .content p {
        font-size: 1.8rem;
    }
    .handbook .hand img {
        width: 305px;
    }
    .handbook .hand {
        margin-left: 5rem;
        width: fit-content;
    }
    .handbook .hand .content {
        margin: 1.5rem;
        text-align: justify;
        width: fit-content;
    }
    .handbook .hand .content p {
        font-size: 1.8rem;
    }
    .archi .arc img {
        width: 305px;
        height: auto;
    }
    .archi .arc {
        margin-left: 5rem;
        width: fit-content;
    }
    .archi .arc .content p {
        font-size: 1.8rem;
    }
    .archi .arc .content {
        margin: 1.5rem;
        text-align: justify;
        width: fit-content;
    }
    .contact .cont {
        background-color: var(--bg);
    }
    .contact .cont .map {
        height: 600px;
        width: 50%;
        object-fit: cover;
        margin-right: 80%;
    }
    .contact .cont form {
        text-align: left;
        position: absolute;
        margin-left: 50%;
        width: 60%;
    }
    .contact .cont form h3 {
        font-size: 2rem;
    }
    .contact .cont form p {
        font-size: 1.2rem;
    }
    .footer {
        margin-top: 3rem;
        margin-bottom: 2rem;
        margin-left: 5rem;
    }
}
@media (max-width:320px) {
    .basic .row {
        margin-left: 0.5rem;
        width: fit-content;   
        margin-left: 3rem;  
    }
    .basic .row img {
        width: fit-content;
    }
    .basic .row .content {
        margin: 1.5rem;
        text-align: justify;
        width: fit-content;
    }
    .basic .row .content p {
        font-size: 1.8rem;
    }
    .contact .cont .map {
        height: 600px;
        width: 60%;
        object-fit: cover;
        margin-right: 80%;
    }
    .contact .cont form {
        text-align: left;
        position: absolute;
        margin-left: 60%;
        width: 70%;
    }
    .heading {
        font-size: 3.5rem;
        margin-left: 6.5rem;
    }
}







