body {
    height: auto;
    background: var(--bg);
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center center;
	background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: darkred;
    --black: rgb(53, 52, 52);
    --bg: #272727;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

html {
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: 0.8rem;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

header {
    position: fixed;
    justify-content: space-between;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    padding: 10px;
    background: var(--bg);
    border-bottom: var(--border);
    z-index: 1000;
}

header nav ul li {
    position: relative;
    float: left;
}
header nav ul li a {
    padding: 15px;
    color: white;
    font-weight: 200;
    font-size: 1.3rem;
    margin-left: 45px;
    transition: color 0.3s linear;
    border-bottom: 0.1rem solid var(--main-color);
}
header nav ul li a:hover {
    color: goldenrod;
}
nav ul li ul {
    position: absolute;
    left: 40px;
    width: 180px;
    color: white;
    background-color: darkred;
    display: none;
}
nav ul li ul li {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
}
nav ul li ul li:hover {
    background-color: rgb(49, 3, 3);
    color: darkred;
}
nav ul li:hover > ul { display: block; }

.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
    margin-top: 10rem;
}
.heading span {
    color: var(--main-color);
    text-shadow: -1px -1px 0 rgb(240, 183, 27), 1px -1px 0 rgb(240, 183, 27), -1px 1px 0 rgb(240, 183, 27), 1px 1px 0 rgb(240, 183, 27);
    text-transform: uppercase;
}

.contact {
    display: block;
    align-items: center;
    background-color: var(--bg);
}
.contact .cont .map {
    height: 450px;
    width: 100%;
}
.contact  form {
    width: 100%;
    margin-bottom: 4rem;
}
.contact  form h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.8rem;
    color: #be9965;
    font-weight: 500;
}
.contact form p {
    text-align: justify;
    color: #ccc;
    font-size: 1.5rem;
    margin-top: -1rem;
    font-weight: 500;
    margin-right: 2rem;
    margin-left: 2rem;
}
    .inputBox {
        display: flex;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        background: var(--black);
        border: var(--border);
    }
    .inputBox span {
        color: #fff;
        font-size: 0.8rem;
        padding-left: 0.8rem;
    }
    .inputBox input {
        width: 120%;
        padding: 0.8rem;
        font-size: 1rem;
        color: #fff;
        text-transform: none;
        background: none;
    }
    
    .contact .cont .btn {
        background-color: darkred;
        display: block;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        color: #eee;
        font-size: 1.5rem;
        text-decoration: none;
        text-align: center;
        transition: color 0.3s linear;
    }
    .contact .cont .btn:hover {
        color: goldenrod;
        background-color: rgb(71, 1, 1);
    }
.contact .cont form h3 {
    text-transform: uppercase;
    font-size: 2.8rem;
    color: #cfae81;
    font-weight: 500;
}
.contact .cont form p {
    color: #ccc;
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: 500;
}
.inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--black);
    border: var(--border);
}
.inputBox span {
    color: #fff;
    font-size: 0.8rem;
    padding-left: 0.8rem;
}
.inputBox input {
    width: 120%;
    padding: 0.8rem;
    font-size: 1rem;
    color: #fff;
    text-transform: none;
    background: none;
}

.contact .cont .btn {
    background-color: darkred;
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #eee;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    transition: color 0.3s linear;
}
.contact .cont .btn:hover {
    color: goldenrod;
    background-color: rgb(71, 1, 1);
}


.footer {
    background: var(--bg);
    text-align: center;
}
.footer .share a{
    margin-right: 2rem;
}
.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    margin: 0.3rem;
}
.footer .links {
    margin-bottom: 1.5rem;
}
.footer .links a {
    margin-right: 0.5rem;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border: var(--border);
    padding: 0.5rem 1rem;
    transition: color 0.3s linear;
}
.footer .links a:hover {
    color: goldenrod;
    background-color: rgb(71, 1, 1);
}
.footer .credit {
    font-size: 1rem;
    color: #fff;
}
.footer .credit span {
    color: #cfae81;
}
.logo img {
    height: 100px; 
    width: auto; 
    margin-left: 30px;
}

.menu-btn {
    display: none;
}
@media (max-width:991px){
    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    html {
        font-size: 85%;
    }
    header {
        padding: 1.5rem 2rem;
    }
}
@media (max-width:1270px) {
    .menu-btn {
        display: inline-block;
        margin-right: 8rem;
    }
    .menu-btn ul li {
        font-size: 3rem;
    }
     header nav ul li {
        display: none;
    }
}
@media (max-width:1176px) {
    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .menu-btn {
        display: inline-block;
    }
    .menu-btn ul li {
        font-size: 3rem;
    }
    header nav ul li {
        display: none;
    }
    .heading {
        margin-top: 13rem;
    }

}
@media (max-width:425px) {
	    .menu-btn {
        display: inline-block;
        margin-right: 1.5rem;
    }
    .footer .links {
        display: none;
    }
    .heading {
        font-size: 3.5rem;
    }
}
@media (max-width:320px) {
    .heading {
        font-size: 3rem;
    }
}
