* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
    text-decoration: none;
}
:root {
	--index: calc(1vw + 1vh);
	--gutter: 30px;
	--side-small: 26;
	--side-big: 36;
	--depth: 4000000px;
	--transition: 0.75s cubic-bezier(0.075, 0.5, 0, 1);
	--main-color: darkred;
    --black: rgb(53, 52, 52);
    --bg: #272727;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}
body {
	background-color: black;
	color: white;
	font-size: calc(var(--index) * 0.8);
	font-family: 'Times New Roman', Times, serif;
	height: var(--depth);
	font-weight: 300;
}
.container {
	width: 100%;
	height: 100%;
	position: fixed;
	perspective: 1500px;
	margin-top: 2rem;
}
.gallery {
	transform-style: preserve-3d;
	height: 100%;
}
.frame {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--transition), opacity 0.75s ease;
	will-change: transform;
	transform-style: preserve-3d;
}
h1, h2, h3, h4 {
	font-weight: 500;
	text-transform: uppercase;
}
.frame h3 {
	text-align: center;
	font-size: calc(var(--index) * 2);

}
.frame-media {
	position: relative;
	width: calc(var(--index) * var(--side-small));
	height: calc(var(--index) * var(--side-big));
	background-position: center;
	background-size: cover;
}
.frame-media_left {
	right: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}
.frame-media_right {
	left: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}
.frame_bg {
	background-color: rgb(0 0 0 / 0.87);
}
video.frame-media {
	width: calc(var(--index) * var(--side-big));
	height: calc(var(--index) * var(--side-small));
}
video.frame-media_right {
	left: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}
video.frame-media_left {
	right: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}

.text-right > * {
	position: relative;
	left: 25vw;
}
.frame h3 {
	font-size: calc(var(--index) * 3.3);
}
.frame h2 {
	font-size: calc(var(--index) * 2);
	text-align: center;
}
.frame p {
	max-width: 40vw;
	margin-top: 3vh;
}

.text-left > * {
	position: relative;
	right: 25vw;
	text-align: right;
}

.iframe {
	width: calc(var(--index) * var(--side-big) * 2);
	height: calc(var(--index) * var(--side-small) * 2);
}

iframe.frame-media_left {
	right: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}
.frame a{
	text-decoration: none;
	color: white;
}
.frame a:hover {
	color: white;
}

header {
    position: fixed;
    justify-content: space-between;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    padding: 10px;
    background: var(--bg);
    border-bottom: var(--border);
    z-index: 1000;
}

header nav ul li {
    position: relative;
    float: left;
}
header nav ul li a {
    padding: 15px;
    color: white;
    font-weight: 200;
    font-size: 1.3rem;
    margin-left: 45px;
    transition: color 0.3s linear;
    border-bottom: 0.1rem solid var(--main-color);
}
header nav ul li a:hover {
    color: goldenrod;
}
nav ul li ul {
    position: absolute;
    left: 40px;
    width: 180px;
    color: white;
    background-color: darkred;
    display: none;
}
nav ul li ul li {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
}
nav ul li ul li:hover {
    background-color: rgb(49, 3, 3);
    color: darkred;
}
nav ul li:hover > ul { display: block; }